appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.7.1
btrfsutil==1.1.1
CacheControl==0.12.5
camelot-py==0.7.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
cupshelpers==1.0
cycler==0.10.0
# Editable Git install with no remote (daily==0.0.0)
-e /home/nicklas/Projects/daily
decorator==4.4.0
distlib==0.2.9
distro==1.4.0
Elixir==0.7.1
et-xmlfile==1.0.1
Flask==1.1.1
html5lib==1.0.1
idna==2.8
isc==2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jsonschema==3.0.1
kiwisolver==1.1.0
lensfun==0.3.2
lockfile==0.12.2
louis==3.10.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
msgpack==0.6.1
numpy==1.16.4
opencv-python==4.1.0.25
openpyxl==2.6.2
packaging==19.0
pandas==0.24.2
pbr==5.3.1
pdfminer.six==20181108
pdftotext==2.1.1
pep517==0.5.0
pew==1.2.0
pipenv==2018.11.15.dev0
progress==1.5
psutil==5.6.3
pwquality==1.4.0
PyAudio==0.2.11
pycairo==1.18.1
pycryptodome==3.8.2
pycups==1.9.74
pycurl==7.43.0.2
PyGObject==3.32.2
pyparsing==2.4.0
PyPDF2==1.26.0
PyQt5==5.13.0
PyQt5-sip==4.19.18
PyQtWebEngine==5.13.0
pyrsistent==0.15.3
pysmbc==1.0.16
python-dateutil==2.8.0
pytoml==0.1.20
pytz==2019.1
pyxdg==0.26
Reflector==2019.3.8.1.54.39
requests==2.22.0
retrying==1.3.3
Send2Trash==1.5.0
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.2
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
tabula-py==1.3.1
team==1.0
Tempita==0.5.2
termcolor==1.1.0
urllib3==1.25.3
virtualenv==16.1.0
virtualenv-clone==0.5.3
webencodings==0.5.1
Werkzeug==0.15.4
xlrd==0.7.1
xlwt==0.7.2
