appdirs==1.4.4
arandr==0.1.10
btrfsutil==5.15.1
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==41.0.0
distlib==0.3.3
distro==1.6.0
html5lib==1.1
idna==3.3
more-itertools==8.10.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
ply==3.11
progress==1.6
pycairo==1.20.1
pycparser==2.21
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.2
urllib3==1.26.7
webencodings==0.5.1
