{% extends "layout.html" %}

{% block title %}
	Daily
{% endblock %}

{% block main %}
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Sleep</th>
      <th scope="col">Meditation</th>
      <th scope="col">Description</th>
      <th scope="col">Screens</th>
      <th scope="col">Rating</th>
      <th scope="col">Creative Work</th>
    </tr>
  </thead>
  <tbody>
	  <!-- Render per user  -->
    <tr>
			<th> This is data </th>
    </tr>
  </tbody>
</table>
{% endblock %}
